<!DOCTYPE html>
<html>
	<head>
		    <meta charset="UTF-8">
			<title>Add Payee</title>

	</head>
	<body>
		<div  align=right>
			<a href="home">Home Page</a>
		</div>
		<div id="header" align = center>
			<h2>Add Payee</h2>
		</div>
		<div align="center">
			<h5>
				<span id="message"></span>
			</h5>
		</div>
		<div align="center">
		<form >
				
				<table>
					<tr><th></th></tr>
					<tr>
						<td>Payee Account Number</td>
						<td><input type="text" name="payee_acc_no" placeholder = "10 digits" required onchange="check_account_number()"></td>
						<td id = "acc_no_error"></td>
					</tr>
					<tr>
						<td>Payee Account Name</td>
						<td><input type="text" name="payee_acc_name" placeholder = "Title Case" required></td>
					</tr>
					<tr>
						<td>Payee Account Bank</td>
						<td><input type="text" name="payee_acc_bank" placeholder = "(Title Case)" required></td>
					</tr>
					<tr>
						<td><button type='button' onclick="process_addpayee()">Add Payee</button></td>
						<td><button type='reset' >Reset Data</button></td>
					</tr>
				</table>
			</form>
			</div>
			<script src="/static/js/addpayee.js" charset="utf-8"></script>
			<script src="/static/js/lib/jquery.min.js" charset="utf-8"></script>
	</body>
</html>