<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Deposit Money</title>
			
	</head>
	<body onload= do_initials()>
		<div  align=right>
				<a href="home">Home Page</a>
		</div>
		<div id="header" align = center>
			<h2>Deposit Money</h2>
		</div>
		<div align="center">
			<h5>
				<span id="message"></span>
			</h5>
		</div>
		<div align="center">
			<form action="" method="post">
				<table>
					<input type="hidden" name="acc_number" id = "acc_number"></td>
					<input type="hidden" name="username" id = "username"></td>
					<tr><th></th></tr>
					<tr>
						<td>Account Number</td>
						<td><label id="acc_number_label"></label></td>
					</tr>
					<tr>
						<td>Account Balance</td>
						<td><span id="acc_balance"></span></td>
					</tr>
					<tr>
						<td>Amount to Deposit</td>
						<td><input type="text" name="amount" id="amount" placeholder="Minimum two digits" required></td>
					</tr>
					<tr>
						<td><input type="button" value="Deposit Money" onclick= "deposit_money()"/></td>
						<td></td>
					</tr>
				</table>
			</form>
		</div>
		<script src="/static/js/depositmoney.js" charset="utf-8"></script>
		<script src="/static/js/lib/jquery.min.js" charset="utf-8"></script>
	</body>
</html>