<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<title>Remove Payee</title>
			<script>
				
			</script>

		</head>
		<body onload="do_initials()">
			<div  align=right>
				<a href="home">Home Page</a>
			</div>
			<div id="header" align="center">
				<h2>Remove Payee</h2>
			</div>
			<div align = center>
			<form action="remove_payee" method="post">
				<input type="hidden" name="acc_number" id = "acc_number">
				<input type="hidden" name="username" id = "username">
				<table>
					<tr><th></th></tr>
					
					<tr>
						<td>Payee Account Number</td>
						<td><input type="hidden" name="payee_acc_number" id = "payee_acc_number_text"><span id ="acc_list"></span></td>
					</tr>
					<tr>
						<td>Payee Account Name</td>
						<td>
						<input type="hidden" name="payee_acc_name" id="payee_acc_name" required>
						<input type="text" name="payee_acc_name1" id="payee_acc_name1" required>
						</td>
					</tr>
					<tr>
						<td>Payee Account Bank</td>
						<td>
						<input type="hidden" name="payee_acc_bank" id="payee_acc_bank" required>
						<input type="text" name="payee_acc_bank1" id="payee_acc_bank1" required>
						</td>
					</tr>
					
					<tr>
						<td><input type="submit" value="Remove Payee" onclick="return validate_input()" /></td>
						<td></td>
					</tr>
				</table>
			</form>
			</div>
			<script src="/static/js/removepayee.js" charset="utf-8"></script>
			<script src="/static/js/lib/jquery.min.js" charset="utf-8"></script>
		</body>
	</html>