<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Transfer Money</title>

	</head>
		<body onload = do_initials()>
		<div  align=right>
			<a href="home">Home Page</a>
		</div>
		<div id="header" align = center>
			<h2>Transfer Money</h2>
		</div>
		<div align="center">
			<h4>
				<span id="message"></span>
			</h4>
		</div>
		<div align="center">
		
			<form action="" >
				
				<table>
					<tr><th></th></tr>
					<tr>
						<td>Account Number</td>
						<td>
							<input type="hidden" name="acc_number" id = "acc_number">
							<label id="acc_number_label"></label>
						</td>
					</tr>
					<tr>
						<td>Account Balance</td>
						<td><span id="acc_balance"></span></td>
					</tr>
					<tr>
						<td>Payee Account Number</td>
						<td><!--<input type="text" name="payee_acc_number" required>--><span id ="acc_list"></span></td>
					</tr>
					<tr>
						<td>Payee Account Name</td>
						<td>
						<input type="hidden" name="payee_acc_name" id="payee_acc_name" required>
						<input type="text" name="payee_acc_name1" id="payee_acc_name1" required></td>
					</tr>
					<tr>
						<td>Payee Account Bank</td>
						<td>
						<input type="hidden" name="payee_acc_bank" id="payee_acc_bank" required>
						<input type="text" name="payee_acc_bank1" id="payee_acc_bank1" required>
						</td>
					</tr>
					<tr>
						<td>Amount To Transfer</td>
						<td><input type="text" name="amount_to_transfer" id ="amount_to_transfer" placeholder="Minimum two digits" required></td>
					</tr>
					<tr>
						<td><input type="button" value="Transfer" onclick="process_transferMoney()" /></td>
						<td></td>
					</tr>
				</table>	
			</form>
			<div class="ajax-loader">
				<img src="static/images/ajax-loader-1.gif" class="img-responsive" />
			</div>
		</div>
		<script src="/static/js/transfermoney.js" charset="utf-8"></script>
		<script src="/static/js/lib/jquery.min.js" charset="utf-8"></script>
		<link rel="stylesheet" href="/static/css/style.css">
		</body>
		
	</html>